<header>
  <div class="header">
    <div class="logo">
      <a routerLink="">Chrono Louve</a>
    </div>
    <nav>
      @if (isLoggedIn && isAdmin){
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Accueil</a>
        <a routerLink="user" routerLinkActive="active" >UserModel</a>
        <button (click)="logout()">Déconnexion</button>

        <a>Bienvenue Admin</a>
      } @else if (isLoggedIn && !isAdmin) {
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Accueil</a>
        <button (click)="logout()">Déconnexion</button>
        <a>Bienvenue User</a>
      } @else {
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Accueil</a>
        <a routerLink="login" routerLinkActive="active" >Login</a>
        <a routerLink="register" routerLinkActive="active" >Register</a>
      }
    </nav>
  </div>
</header>
