<form [formGroup]="userForm">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input id="nom" type="text" formControlName="nom">
  </div>
  <div class="form-group">
    <label for="prenom">Prenom</label>
    <input id="prenom" type="text" formControlName="prenom">
  </div>
  <div class="form-group">
    <label for="photoUrl">URL de l'image</label>
    <input id="photoUrl" type="text" formControlName="photoUrl">
  </div>
  <div class="form-group">
    <label for="adresse">Adresse</label>
    <input id="adresse" type="text" formControlName="adresse">
  </div>
  <div class="form-group">
    <label for="codepostal">Code Postal</label>
    <input id="codepostal" type="text" formControlName="codepostal">
  </div>
  <div class="form-group">
    <label for="ville">Ville</label>
    <input id="ville" type="text" formControlName="ville">
  </div>
  <div class="form-group">
    <label for="pays">Pays</label>
    <input id="pays" type="text" formControlName="pays">
  </div>
  <div class="form-group">
    <label for="motdepasse">Mot de Passe</label>
    <input id="motdepasse" type="text" formControlName="motdepasse">
  </div>
  <div class="action-buttons">
    <button type="submit" (click)="onRegisterForm()">Creer le compte</button>
  </div>
</form>

<div class="" *ngIf="userPreview$ | async as user">
  <h2>{{ user.Nom | uppercase }}</h2>
  <p>Mis en ligne {{user.CreateAt | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <img [src]="user.PhotoUrl" [alt]="user.Nom">
  <p>{{ user.Pays }}</p>
  <p *ngIf="user.Adresse">A l'Adresse à {{ user.Adresse }}</p>

  <p>{{ user.Role }}</p>
  <p>{{ user.Telephone }}</p>
</div>
